{% extends 'strava_generator/base.html' %}
{% load static %}


{% block title %}
    STRAVA GENERATOR
{% endblock %}


{% block content %}
    <header>
        <nav class="navbar">
            <a class="navbar-brand font-weight-bold" href="/">STRAVA GENERATOR</a>
        </nav>
    </header>

    <main>
        <section>
            <form class="gen-form container px-4">
                <div class="map-group row justify-content-center rounded-lg">
                    <div class="col-12 p-0">
                        <div id="map" class="rounded"></div>
                        <div id="marker-menu" class="dropdown-menu">
                            <div class="add-marker dropdown-item"><i class="far fa-plus-square fa-sm"></i>&nbsp; Add point to the route</div>
                            <div class="remove-marker dropdown-item"><i class="fas fa-trash fa-sm"></i>&nbsp; Remove marker</div>
                        </div>
                    </div>
                    <div class="col-12 p-0 mt-3">
                        <input id="location-input" type="text" class="form-control"
                               placeholder="Search for place...">
                    </div>
                    <ul id="location-list" class="list-group col-12 p-0 mt-3"></ul>
                </div>
            </form>
        </section>
    </main>
{% endblock %}


{% block js %}
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByC_lKM2stBnzhmo556xHHDFt-7RAO7rQ&callback=initMap&language=en&libraries=places"
            async
    ></script>
    <script src="{% static 'strava_generator/js/index_load.js' %}"></script>
    <script src="{% static 'strava_generator/js/index.js' %}"></script>
{% endblock %}