#map {
    width: auto;
    height: 400px;
}

#status-bar {
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px -1px;
}

#remove-all-markers {
    width: 100%;
}

#location-list {
    /*max-height: 100px;*/
    overflow-y: auto;
    overflow-x: hidden;
}

#marker-menu {
    position: fixed;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.dropdown-item {
    padding: .20rem .75rem;
    cursor: pointer;
}

.map-group {
    width: auto;
    padding: 10px;
    background-color: aquamarine;
}

.list-group-item {
    padding-left: .75rem;
    padding-right: .75rem;
}

.btn-outline-primary:hover {
    background-color: #0069d9;
    border-color: #0069d9;
}

.drag-item {
    color: dimgray;
}

.drag-item:hover {
    color: dodgerblue;
    cursor: move;
}

.location-label {
    vertical-align: middle;
    horiz-align: center;
    font-size: 13px;
    color: dodgerblue;
}

.remove-item {
    color: #cb0808;
}

.remove-item:hover {
    color: red;
    cursor: pointer;
}